.login-form {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  display: block;
  border-radius: 50px;
  border: 7px ridge rgba(40,157,234,0.24);
  border-radius: 20px 20px 20px 20px;

  .signup {
    text-align: right;
    margin: 5px;
    cursor: pointer;
    font-style: italic;
  }

  .title {
    text-align: center;
    color: rgba(40,157,234,0.65);
  }

  .login-content {
    background-color: inherit;

    .text-input {
      width: 270px;
      padding: 5px;
      margin: 10px;
      height: 30px;
      font-size: 14px;
    }
  }

  .login-action {
    text-align: center;

    .login-btn {
      padding: 5px;
      margin: 10px;
      height: 30px;
      width: 100px;
      font-size: 16px;
      background-color: rgba(40,157,234,0.65);
      border-radius: 20px 20px 20px 20px;
      cursor: pointer;
    }
  }
}
