<div class="login-form">
  <div class="signup">
    <a (click)="navigateToRegister()">signup</a>
  </div>
  <div class="title">
    <h3>Login</h3>
  </div>
  <div class="login-content">
    <input type="text" name="user-name" value="" placeholder="Enter user name" class="text-input">
    <input type="text" name="password" value="" placeholder="Enter password" class="text-input">
  </div>
  <div class="login-action">
    <button type="button" name="login-btn" class="login-btn">Login</button>
  </div>
</div>
